body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.box {
  
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  transition: 2s;
  animation: spin2 4s infinite alternate;
}
.box::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 99px;
  bottom: -135px;
  background-color: #9c27b0;
  transform: rotateX(80deg);
  filter: blur(80px);
}
/* .box:hover {
  transform:rotateY(310deg);
} */

.box div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s infinite linear;
}
.box div span {
  position: absolute;
  display: block;
  width: 80%;
  height: 100%;
  border-radius: 50%;
}
.box div span:nth-child(1) {
  transform: rotateX(0deg);
  background: linear-gradient(
    268deg,
    rgb(252, 126, 107) -10%,
    rgb(255, 14, 2) 49%
  );
}
.box div span:nth-child(2) {
  transform: rotateX(45deg);
  background: linear-gradient(
    268deg,
    rgb(250, 83, 219) -10%,
    rgb(255, 0, 217) 49%
  );
}
.box div span:nth-child(3) {
  transform: rotateX(-45deg);
  background: linear-gradient(
    268deg,
    rgb(120, 144, 253) -10%,
    rgb(58, 122, 239) 49%
  );
}
.box div span:nth-child(4) {
  transform: rotateX(90deg);
  background: linear-gradient(
    268deg,
    rgb(218 230 237) -10%,
    rgb(255, 140, 0) 49%
  );
}
@keyframes spin {
  from {
    transform:rotateX(0deg);
  }
  to {
    transform:rotateX(360deg);
  }
}

@keyframes spin2 {
  from {
    transform:rotateY(200deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@media (max-width: 767px) {
  .box {
    width: 130px;
    height: 220px;
  }
  .box::before {
    width: 50px;
    height: 50px;
  }
}
