body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.box {
  
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  transition: 2s;
  animation:spin2  4s infinite alternate;
}
.box::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 99px;
  bottom: -135px;
  background-color: var(--before);
  transform: rotateX(80deg);
  filter: blur(80px);
}
/* .box:hover {
  transform:rotateY(310deg);
} */

.box div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation:spin  4s 2s infinite linear;
}
.box div span {
  position: absolute;
  display: block;
  width: 80%;
  height: 100%;
  border-radius: 50%;
}
.box div span:nth-child(1) {
  transform: rotateX(0deg);
  background: linear-gradient(
    268deg,
    #fc7e6b -10%,
    rgb(255, 14, 2) 49%
  );
}
.box div span:nth-child(2) {
  transform: rotateX(45deg);
  background: linear-gradient(
    268deg,
    #fa53db -10%,
    rgb(255, 0, 217) 49%
  );
}
.box div span:nth-child(3) {
  transform: rotateX(-45deg);
  background: linear-gradient(
    268deg,
    #7890fd -10%,
    rgb(58, 122, 239) 49%
  );
}
.box div span:nth-child(4) {
  transform: rotateX(90deg);
  background: linear-gradient(
    268deg,
    rgb(218 230 237) -10%,
    #ff8c00 49%
  );
}
.neon1,.neon2{
  position: absolute;
  top: 10%;
  width: 80px;
  height: 100px;
  clip-path: polygon(28% 0, 73% 0, 100% 100%, 0% 100%);
  background: rgb(5,10,23);

}
.neon1{
  left: 25%;
  transform: rotate(-42deg);
}
.neon2{
  right: 25%;
  transform: rotate(42deg);
}
@keyframes spin {
  from {
    transform:rotateX(0deg);
  }
  to {
    transform:rotateX(360deg);
  }
}

@keyframes spin2 {
  from {
    transform:rotateY(200deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@media (max-width: 767px) {
  .box {
    width: 130px;
    height: 220px;
  }
  .box::before {
    width: 90px;
    height: 90px;
    filter: blur(40px);
  }
  .neon1,.neon2{
    width: 60px;
    height: 80px;
    top: 20%;
  }
  .neon1{
    left: 5%;
  }
  .neon2{
    right: 5%;
  }
}
